<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/css/design.css'); ?>">
	<link rel="stylesheet" href="<?php echo base_url ('assets/font-awesome-4.7.0/css/font-awesome.min.css'); ?>">
</head>
<body>

<!-- header section -->

<header class="header-sections">
	<div class="header-section">
		<div class="ble sort-home"  style="background-image: url('<?php echo base_url('assets/img/scen2.jpg') ?>');">
			<label class="label-sort-home">Cari Rumah Legal Impianmu</label>
			<div class="filter-search">
				<form class="form-fil-search" method="POST">
					<select>
						<option>Lokasi</option>
						<option>TEST</option>
						<option>TEST</option>
						<option>TEST</option>
					</select>
					<select>
						<option>Harga Min</option>
						<option>TEST</option>
						<option>TEST</option>
						<option>TEST</option>
					</select>
					<select>
						<option>Harga Max</option>
						<option>TEST</option>
						<option>TEST</option>
						<option>TEST</option>
					</select>
					<select>
						<option>Tipe Rumah</option>
						<option>TEST</option>
						<option>TEST</option>
						<option>TEST</option>
					</select>
					<button>Cari</button>
				</form>
			</div>		
		</div>
	</div>

	<div class="site-navbar">
		<div class="site-logo">
			<img src="<?php echo base_url('assets/img/smd.png'); ?>">
				<label>DISPERKIM</label>
		</div>
		<div class="main-menu">
			<ul>
				<li>
					<a href="#">BERANDA</a>
				</li>
				<li>
					<a href="#">PERUMAHAN</a>
				</li>
				<li>
					<a href="#">PENGEMBANG</a>
				</li>
				<li>
					<a href="#">TENTANG KAMI</a>
				</li>
				<li>
					<a href="#">KONTAK</a>
				</li>
			</ul>
		</div>
	</div>

</header>

<!-- close header section -->

<!-- main-section -->

<main class="flex direction-column width100">
	<section class="recent-properties">
		<div class="properties-title">
			<h1>RECENT PROPERTIES</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="body-properties">
			<figure class="properties-items">
				<img src="<?php echo base_url('assets/img/scenicity3.jpg') ?>">
					<figcaption>
						<div class="proper-loc width80">
							<h4>Perumahan Alaya</h4>
								<p>
									<i class="fa fa-map-marker"></i>
										<span class="m-s-5">Sungai Kunjang</span>
								</p>
						</div>
						<div class="width20 flex align-center">
							<a href="#">LIHAT</a>
						</div>
					</figcaption>
			</figure>
			<figure class="properties-items">
				<img src="<?php echo base_url('assets/img/scenicity3.jpg') ?>">
					<figcaption>
						<div class="proper-loc width80">
							<h4>Perumahan Alaya</h4>
								<p>
									<i class="fa fa-map-marker"></i>
										<span class="m-s-5">Sungai Kunjang</span>
								</p>
						</div>
						<div class="width20 flex align-center">
							<a href="#">LIHAT</a>
						</div>
					</figcaption>
			</figure>
			<figure class="properties-items">
				<img src="<?php echo base_url('assets/img/scenicity3.jpg') ?>">
					<figcaption>
						<div class="proper-loc width80">
							<h4>Perumahan Alaya</h4>
								<p>
									<i class="fa fa-map-marker"></i>
										<span class="m-s-5">Sungai Kunjang</span>
								</p>
						</div>
						<div class="width20 flex align-center">
							<a href="#">LIHAT</a>
						</div>
					</figcaption>
			</figure>
			<figure class="properties-items">
				<img src="<?php echo base_url('assets/img/scenicity3.jpg') ?>">
					<figcaption>
						<div class="proper-loc width80">
							<h4>Perumahan Alaya</h4>
								<p>
									<i class="fa fa-map-marker"></i>
										<span class="m-s-5">Sungai Kunjang</span>
								</p>
						</div>
						<div class="width20 flex align-center">
							<a href="#">LIHAT</a>
						</div>
					</figcaption>
			</figure>
		</div>
	</section>

	<section class="our-services setting-bg" style="background-image: url('<?php echo base_url('assets/img/newyok.jpg') ?>');">
		<div class="services-items">
			<div class="width50">
				<img src="<?php echo base_url('assets/img/pplwapple.jpg') ?>">
			</div>
			<div class="width40 services-descipction">
				<h1>LAYANAN KAMI</h1>
					<div>
						<p class="m-b-10">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
					</div>
			</div>
		</div>
	</section>

</main>

<!-- close main section -->

<script src="<?php echo base_url('assets/js/jquery-3.2.1.min.js') ?>"></script>
<script src="<?php echo base_url('assets/js/custom.js') ?>"></script>

</body>
</html>