@import url('https://fonts.googleapis.com/css?family=Inder|Julius+Sans+One|Open+Sans|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Saira+Semi+Condensed|Titillium+Web|Arimo|Dosis|Abel|Montserrat|PT+Serif|Raleway|Roboto|Nunito+Sans|Source+Sans+Pro|Lobster|');

a {
	text-decoration: none;
	/*color: inherit;*/
}

a:hover {
	text-decoration: none;
	/*color: inherit;*/
}

/*flex*/

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.direction-column {
	flex-direction: column;
}

.visible-hide {
	visibility: hidden;
}

.self-end {
	align-self: flex-end;
}

.align-center {
	align-items: center;
}

/*close flex*/

/*width*/

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.p10 {
	padding: 10px;
}

.p20 {
	padding: 20px;
}

.m10 {
	margin: 10px;
}

.m-tb-10 {
	margin: 10px 0;
}

.m-s-10 {
	margin: 0 10px;
}

.m-s-5 {
	margin: 0 5px;
}

.m-r-10 {
	margin-right: 10px;
}

.m-r-5 {
	margin-right: 5px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-t-5 {
	margin-top: 5px;
}

.m-t-30 {
	margin-top: 30px;
}

.width100 {
	width: 100%;
}

.width90 {
	width: 90%;
}

.width80 {
	width: 80%;
}

.width70 {
	width: 70%;
}

.width60 {
	width: 60%;
}

.width50 {
	width: 50%;
}

.width40 {
	width: 40%;
}

.width30 {
	width: 30%;
}

.width20 {
	width: 20%;
}

.width10 {
	width: 10%;
}

.height30 {
	height: 30%;
}

.height100 {
	height: 100%;
}

/*text*/

.color-white {
	color: #fff;
}

.color-grn-leaf {
	color: #17c41e;
}

.color-oren {
	color: #ff5722;
}

.color-grey {
	color: #949494;
}

.color-blue {
	color: #448cd9;
}

.color-pink {
	color: #e91e63;
}

.font25 {
	font-size: 25px;
}

.font30 {
	font-size: 30px;
}

.font14 {
	font-size: 14px;
}

.font-normal {
	font-weight: normal;
}

.font-bold {
	font-weight: bold;
}

.text-space-05 {
	letter-spacing: 0.5px;
}

.text-align-left {
	text-align: left!important;
}

.text-align-right {
	text-align: right!important;
}

.text-align-center {
	text-align: center!important;
}

.text-warning {
	color: #f00;
}

/*button*/

.button-detail {
	background: #2ecc71;
	color: #fff;
}

.button-edit {
	background: #1e88e5;
	color: #fff;
}

.button-delete {
	background: #fc4b6c;
	color: #fff;
}

.button-dropdown {
	background: #fff;
	border: 1px solid #ff5722;
	color: #ff5722;
	transition: 0.3s ease-in-out;
}

.button-dropdown:hover {
	background: #ff5722;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.button-insert {
	background: #ffa91c;
	color: #fff;
	border: 1px solid #ffa91c;
	transition: 0.3s ease-in-out;
}

.button-insert:hover {
	background: #fff;
	color: #ffa91c;
	border: 1px solid #ffa91c;
	opacity: 0.8;
	transition: 0.3s ease-in-out;
}

.table .btn {
	transition: 0.3s ease-in-out;
}

.table .btn:hover {
	color: #fff;
	opacity: 0.8;
	transition: 0.3s ease-in-out;
}

.dropdown-button {
	box-shadow: 5px 5px rgba(102,102,102,.1);
}


/*button ENDS*/

/*alert*/

.alert {
	outline: none;
}

.alert-sukses {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-danjer {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert #close-alert {
	outline: none;
}

/*alert ENDS*/

/*form*/

.red-border {
	border: 1px solid red;
}

.input-label {
    color: #313a46;
    font-size: 15px;
    font-weight: normal;
}

.form-group .img-preview {


}

.form-group .img-preview img {
	height: 200px;
	width: auto;
}

.title-form-sect {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #ffa826;
	background-color: #fff;
	border: 1px solid #ffa826;
	border-radius: 3px;
	padding: 10px;
	font-size: 18px;
}

.box-append {
	padding: 0;
}

.button-group-append {
	display: flex;
	justify-content: center;
}

.button-group-append button {
	margin: 0 10px;
	outline: none;
}

.button-group-append button:hover, .button-group-append button:active, .button-group-append button:focus {
	color: #fff;
	outline: none!important;
}

.button-plus {
	background: #36d636;
	color: #fff;
}

.button-minus {
	background: #f44336;
	color: #fff;
}

.bg-oranye {
	background: #fbc02d;
}

.bg-blues {
	background: #2bbbad;
}

.bg-purp {
	background: #a6c;
}

.bg-danjer {
	background: #ff3547;
}

.cursor-disabled {
	cursor: no-drop;
}

.detil-dat {
	background: #fff!important;
	outline: none!important;
	cursor: no-drop;
}

/*form ENDS*/

/*box dash*/

.box-greyi {
	background: #4184f3;
	color: #fff;
}

.box-greeni {
	background: #ea4436;
	color: #fff;
}

.box-bluei {
	background: #ffeb3b;
	color: #fff;
}

.close-one {
	font-size: 25px;
	color: #ff4747;
	cursor: pointer;
}

/*box dash ENDS*/

/*table custom*/

.tb-perum-desk tr th{
	background: #ffcd36;
	color: #fff;
}

.tb-perum-desk td {
	color: #313a46
}

.tb-tb-desk tr th {
	background: #3c8dbc;
	color: #fff;
}

.img-bgn {
	width: 400px;
}

/*close table*/

/*akun*/

.activate-user {
	font-size: 25px;
	color: #2ecc71;
}

.inactivate-user {
	font-size: 25px;
	color: #e74c3c;
}

.account-info {
	height: 100%;
}

.left-account {
	padding: 20px;
	margin-right: 10px;
}

.left-account img {
	height: 150px;
	width: auto;
	margin-right: 10px;
	border-radius: 50%;
}

.left-account label {
	font-size: 25px;
	text-transform: capitalize;
	margin-top: 5px;
}

.right-account {
	background: #fff;
}

textarea.disabled-input {
	cursor: default!important;
}

.disabled-input {
	border: none;
	background: #fff!important;
}

.btn.bg-blues:hover {
	color: #fff;
}

table .img-tbl {
	width: 150px;
}

/*MAPS*/


.coordinates {
	background: rgba(0,0,0,0.5);
	color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	padding:5px 10px;
	margin: 0;
	font-size: 11px;
	line-height: 18px;
	border-radius: 3px;
	display: none;
	z-index: 999;
}

.map-section {
	position: relative;
}

#map {
	width: 100%;
	height: 400px;
}

/*END MAPS*/